<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nekr0s.get_my_driver_card">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GetMyDriverCardApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_new_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_new_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".views.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.list.ListActivity" />
        <activity android:name=".views.create.CardCreateActivity" />
        <activity
            android:name=".views.camera.CameraActivity"
            android:configChanges="orientation|screenLayout|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity android:name=".views.camera.PicturePreviewActivity" />
        <activity android:name=".views.create.fragments.PreviousCardInfoActivity" />
        <activity android:name=".views.signature.SignatureActivity" />
        <activity android:name=".views.signature.DeclarationActivity"></activity>
    </application>

</manifest>